:root {
	--black: #0A0F17;
	--dark: #101A26;
	--medium-dark: #2A3740;
	--medium: #4C6173;
	--medium-light: #617C8C;
	--light: #8EA8BF;
	--white: #AFD0ED;
	--orange-light: #EDD5AF;
	--orange-dark: #A18457;
	--lime: #B5EDA4;
	--pink: #EDC7E7;
}
