@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=IBM+Plex+Mono&family=Merriweather&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	font-size: 14px;
}

html {
	padding-top: 2em;
	background: var(--background) no-repeat fixed;
}

body {
	width: 850px;
	margin: auto;
	padding: 2em;
	padding-bottom: 4em;
	background-color: var(--page-light);
	color: var(--text);
}

@media screen and (max-width:992px) {
	body {
		width: 80%;
	}
}

@media screen and (max-width:600px) {
	body {
		width: 100%;
	}
}

h1, h2, p {
	margin: 0.5em 0em 0.5em 0em;
} 

nav a, footer a {
	margin: 0.5em 0.5em 0.5em 0em;
}

a:link {
	color: var(--link-light);
}

a:visited {
	color: var(--link-dark);
}

p {
	line-height: 1.5em;
	margin-bottom: 1.75em;
}

blockquote {
	margin-left: 2em;
	margin-bottom: 2em;
	font-family: 'IBM Plex Mono', monospace;
	color: var(--highlight);
}

header h1 {
	font-size: 3em;
	font-family: 'Baumans', cursive;
	margin-left: 0;
}

header p {
	font-size: 1.25em;
}

nav li, footer li {
	display: inline;
}

article {
	width: fill;
	margin: 1em;
	padding: 1em;
	background: var(--page-gray) no-repeat fixed;
	border-radius: 8px;
}

article p {
	margin-bottom: 0.5em;
}
