@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap');


* {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

html {
	padding-top: 2em;
	margin-bottom: 4em;
	background: var(--dark) no-repeat fixed;
}

body {
	width: 800px;
	margin: auto;
	padding: 1em;
	padding-bottom: 2em;
	background-color: var(--medium);
	border-radius: 8px;
	color: var(--white);
}

h1, h2, p, a, pre {
	margin: 0.5em 0.25em;
} 

a:link {
	color: var(--orange-light);
}

a:visited {
	color: var(--orange-light);
}

p {
	line-height: 1.5em;
}

blockquote {
	font-family: 'Roboto Mono', monospace;
	color: var(--lime);
}

header h1 {
	font-size: 3em;
}

header p {
	font-size: 1.25em;
}

nav li, footer li {
	display: inline;
}

article {
	width: fill;
	margin: 1em;
	padding: 1em;
	background: linear-gradient(var(--medium-dark), var(--dark)) no-repeat fixed;
	border-radius: 8px;
}

main {
	margin-bottom: 2em;
}
