* {
	margin: 0;
	padding: 0;
}

/* Layout elements must be distinguishable from eachother */

header, nav, main, article {
	margin-bottom: max(2em, 40px);
}

/* Text elements must have signifigant space between them for ease of reading */

p, blockquote, img {
	margin-bottom: max(1.5em, 20px);
}
