@media (prefers-color-scheme: dark) {
	:root {
		--background: #181a1b;
		--text: #fefefe;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background: #fefefe;
		--text: #181a1b;
	}
}

* {
	font-family: sans-serif;
	font-size: clamp(2vmin, 2rem, 3vmin);
	background-color: var(--background);
	color: var(--text);
}

a {
	text-decoration: none;
}

a:hover, a *:hover {
	background-color: var(--text);
	color: var(--background);
}

h1, h2, h3, h4, h5, h6, nav ul li a, footer ul li a {
	font-weight: normal;
	text-transform: lowercase;
}

html {
	margin: 10%;
}

/* Navigation bar */

nav, footer {
	overflow: hidden;
}

nav ul, footer ul {
	display: block;
	list-style-type: none;
	padding: 0;
}

nav ul li, footer ul li {
	float: left;
}

nav ul li, footer ul li {
	display: block;
	margin-right: clamp(20px, 2vw, 80px);
	margin-left: 0;
}

/* "Important" elements */

header h1, article h2 a, nav ul li a, nav ul li a b, footer ul li a, footer ul li a b {
	font-size: clamp(2vmin, 3rem, 4vmin);
}

/* "Desktop" (widescreen) */

@media only screen and (min-width: 1280px) {
	html {
		margin-left: 30%;
		margin-right: 30%;
	}
}